Package: com.martinpham.sidefilter
Name: SideFilter
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: SideApp filter ios 9/10
Maintainer: MartinPham
Author: MartinPham
Section: Tweaks
Version: 0.0.1-15+debug
Installed-Size: 124
